*{
    /*chamado RESET - ele vai chamar todos os elementos da nossa pág*/
box-sizing:border-box;
margin: 0;
padding:0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgb(175, 95, 158), rgb(241, 110, 253), rgb(124, 0, 87) 0%,
    rgb(20, 238, 220) 100%)
}

.board {    
    display: grid;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-content: center;
    justify-items: center; /*irá alinhar o conteudo da célula "X" e 
                            a "bolinha"  no centro da célula*/
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid white; /*borda bca*/
    display: flex;
    justify-content: center;
    align-items: center; /*o display, o justify e align é para garantir que o contéudo
                         irá ficar dentro da célula*/
    position: relative;
}
/*vamos tirar bordas da 1, 2 e 3 celula*/
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none; 
   
}
/*vamos tirar bordas da 7, 8 e 9 celula*/
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom:none; 
   
}
/*vamos tirar bordas da 1, 4 e 7 celula*/
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left:none; 
   
}
/*vamos tirar bordas da 3, 6 e 9 celula*/
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right:none; 
   
}
/*Mensagem de vitória*/
.winning-message{
    display: none;
}

/* x */
.cell.x::before,
.cell.x::after, /* as 2 linhas e pracriar a perninha do x "antes e depois"/*

.board.x.cell: :not(.x):not(.circle):hover::after  /* quero pegar todas as celulas da board x,*/
/*que nao tenha a classe x e nem a classse circle, e nas celulas que estao vazias */
.board.x .cell:not(.x):not(.circle):hover::after, /*quero aplicar o hover after e before*/
.board.x .cell:not(.x):not(.circle):hover::before {
    
    content: ""; /*significa - vazio */
    height: calc(100px * 0.15); /*100px e o tamanho da altura da celula, e 15% do altura da celula*/
    width: calc(100px *  0.9); /*100px e o tamanho da largura da celula, e 90% do altura da celula*/
    background: #e96eb8;
    position: absolute; /* esse position ira fazer com que forme o X normal*/
} 

 .cell.x::before, /*before e uma perninha do x*/
 .board.x .cell.cell:not(.x):not(.circle):hover::before { 
    transform: rotate(45deg);
 }

.cell.x::after, /*after e outra perninha do x*/
.board.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}
 /*circle*/
 .cell.circle::before,
 .cell.circle::after{
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: rgb(182, 114, 228);
    position: absolute;
    border-radius: 50%; /*ira deixar no formato de circulo*/
 }
 
/*serve para informar que ja tem um x e um circulo selecionado dentro da celula
nao ira permitir que seja clicado com mause*/
.cell.x, .cell.circle {
    cursor: not-allowed;
}

 /* Mensagem de Vitória */
 .winning-message{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    flex-direction: column;
 }

 .winning-message-button{
    font-size: 2.5rem;
    background-color: rgb(240, 160, 226);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}
 
.winning-message-button:hover{ /*efeito de hover qdo passar
                                o mouse em cima do botao o efeito seja fonte bca
                                e fundo verde*/
color: rgb(250, 0, 187);
background-color:white; }

.winning-message-text{
    color:white;
    font-size: 5rem;
}

.show-winning-message { /*para aparecer a msg de vitoria*/
    display: flex;
}